<nav
  class="flex items-center justify-between px-3 py-3 border rounded-sm shadow-sm text-white"
>
  <a href="/" class="text-2xl font-extrabold italic whitespace-nowrap">
    TradeHub
  </a>
  <ul class="flex gap-5 justify-end w-full">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
  </ul>
</nav>
<!-- <section
  class="flex flex-col justify-center items-center mx-auto w-2/5 mt-[100px]"
>
  <header class="text-4xl text-center">
    Your Gateway to Financial Freedom
  </header>
  <p class="text-center mt-4">
    Trade smarter, not harder with TradeHub - the platform designed for both
    beginners and seasoned traders. Join us today and embark on your journey to
    financial success.
  </p>
  <a href="/register" class="btn-primary mt-4">Get started</a>
</section> -->

<body class="bg-gray-100">
  <!-- Hero Section -->
  <section class="hero py-16">
    <div class="container mx-auto text-center w-2/5">
      <h1 class="text-4xl font-semibold mb-4">
        Your Gateway to Financial Freedom
      </h1>
      <p class="text-lg mb-8">
        Trade smarter, not harder with TradeHub - the platform designed for both
        beginners and seasoned traders. Join us today and embark on your journey
        to financial success.
      </p>
      <a
        href="/register"
        class="hero-button py-2 px-6 rounded-full text-lg font-semibold transition duration-300"
        >Get Started</a
      >
    </div>
  </section>

  <!-- Features Section -->
  <section class="py-8">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-semibold mb-8">Why Choose Us?</h2>
      <div class="flex items-center justify-center mx-auto gap-8 w-3/5">
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-4">Advanced Analytics</h3>
          <p>
            Access real-time market data and make informed decisions with our
            cutting-edge analytics tools.
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-4">Secure Transactions</h3>
          <p>
            Your funds and transactions are secured using state-of-the-art
            encryption technologies.
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <h3 class="text-xl font-semibold mb-4">24/7 Support</h3>
          <p>
            Our dedicated support team is available around the clock to assist
            you with any inquiries.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
</body>
